<html>
    <body>
        Medication: SNOMED:{{ requested_presentation.revealed_attrs['Medication Snomed']['value'] }}<br>
        Medication Display: {{ requested_presentation.revealed_attrs['Medication Display']['value'] }}<br>
        Repeat Frequency:{{ requested_presentation.revealed_attrs['Repeat Frequency']['value'] }}<br>
        Repeat Period:{{ requested_presentation.revealed_attrs['Repeat Period']['value'] }}<br>
        Repeat Unit:{{ requested_presentation.revealed_attrs['Repeat Unit']['value'] }}<br>
        Route SNOMED:{{ requested_presentation.revealed_attrs['Route Snomed']['value'] }}<br>
        Route Display:{{ requested_presentation.revealed_attrs['Route Display']['value'] }}<br>
        Dose Quantity:{{ requested_presentation.revealed_attrs['Dose Quantity']['value'] }}<br>
        Dose Unit: {{ requested_presentation.revealed_attrs['Dose Unit']['value'] }}<br>
    </body>
</html>
